<div class="orange">
    <div class="container">
        <div class="text-right py-2">
            <span class="mr-lg-5 mr-2">info@templify.nl</span>
            <span class="">020-123 123 1</span>
        </div>
    </div>
</div>
<header>
    <nav class="navbar navbar-expand-lg bg-white my-lg-5 my-md-3">
        <div class="container">
            <a href="javascript:void(0)" class="navbar-brand"><img src="assets/images/Templify logo@1X.png" alt=""></a>
            <button class="navbar-toggler bg-light" (click)="isMenuCollapsed = !isMenuCollapsed">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
                <ul class="navbar-nav ml-auto mr-3">
                    <li class="nav-item">
                        <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about" routerLinkActive="active" class="nav-link">Over ons</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/method" routerLinkActive="active" class="nav-link">Werkwijze</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/cases" routerLinkActive="active" class="nav-link">Cases</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>