.sec-brand {padding-top: 150px; padding-bottom: 100px;}
.brands{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brand-img{
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}
.brand-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media (max-width: 768px){
  
    .brand-img{
      width: 35%;
      margin: 0 auto;
      height: 120px;
      justify-content: center;
      margin-bottom: 30px;
    }
   
}

@media (max-width: 767px){

  .sec-brand {padding-top: 70px; padding-bottom: 50px;}

}