<div class="container">
    <div class="brands">
        <div class="brand-img">
            <img src="assets/company1.png" alt="">
        </div>
        <div class="brand-img">
            <img src="assets/company2.png" alt="">
        </div>
        <div class="brand-img">
            <img src="assets/company1.png" alt="">
        </div>
        <div class="brand-img">
            <img src="assets/company2.png" alt="">
        </div>
        <div class="brand-img">
            <img src="assets/company1.png" alt="">
        </div>
    </div>
</div>