<section class="bgimg3">
    <div class="container">
        <div class="row justify-content-between flex-row-reverse">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="assets/casset.png" class="img-fluid ml-lg-5" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="py-lg-5 py-md-3 pr-lg-5">
                    <h2 class="orange-text font-weight-bold">Werkwijze</h2>
                    <div class="my-lg-4">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.</p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis. </p>
                    </div>
                    <button routerLink="/case-detail" role="button" class="btn button">Less verder</button>
                </div>
            </div>
        </div>
    </div>
</section>