<section>
    <div class="bg-img-2">
        <div class="container-fluid">
            <div class="row">
                <div class="card-group px-lg-5">
                    <div class="card">
                        <div class="d-flex position-relative">
                            <img src="assets/images/laptop op vinger.png" class="card-img-top" alt="">
                            <div class="btns-top">
                                <button class="btn btn-orange text-uppercase">Templify</button>
                            </div>
                        </div>
                        <div class="card-body orange text-white text-center">
                            <h2 class="text-uppercase card-title font-italic">Case referent</h2>
                            <p class="card-text text-left text-white">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                            </p>
                            <button routerLink="/case-detail" class="btn bttns">Lees verdr</button>
                            <div class="rectangle">
                                <img src="assets/red.png" class="" alt="">
                            </div>
                        </div>

                    </div>


                    <div class="card">
                        <div class="d-flex position-relative">
                            <img src="assets/images/laptop 1.png" class="card-img-top" alt="">
                            <div class="btns-top">
                                <button class="btn btn-orange">SNS BANK</button>
                            </div>
                        </div>
                        <div class="card-body warning text-white text-center">
                            <div>
                                <h2 class="text-uppercase card-title font-italic">Case referent</h2>
                            </div>
                            <p class="card-text text-left text-white">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                            </p>
                            <button routerLink="/case-detail" class="btn bttns">Lees verdr</button>
                            <div class="rectangle">
                                <img src="assets/orange.png" class="" alt="">
                            </div>
                        </div>

                    </div>


                    <div class="card">
                        <div class="d-flex position-relative">
                            <img src="assets/images/man in boekje.png" class="card-img-top" alt="">
                            <div class="btns-top">
                                <button class="btn btn-orange">NESLTE</button>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h2 class="text-uppercase card-title font-italic">Case referent</h2>
                            <p class="card-text text-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                            </p>
                            <button routerLink="/case-detail" class="btn btn-orange">Lees verdr</button>
                            <div class="rectangle">
                                <img src="assets/white.png" class="" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>