<section class="sec-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 contact-info">
                <div class="contact-head">
                    <h3 class="orange-text font-weight-bold">Let's get in touch</h3>
                    <p class="text"> Contact us with the following details. and fillup the form with<br> the details.
                    </p>
                </div>
                <div class="info">
                    <div class="social-information"> <i style="color: #dd0333;" class="fas fa-map-marker-alt"></i>
                        <p>Templify BV, Laan van kronenburg 14, 1188 KS Amstelveen</p>
                    </div>
                    <div class="social-information"> <i style="color: #e84821;" class="fas fa-envelope"></i>
                        <p>contact@templify.com</p>
                    </div>
                    <div class="social-information"> <i style="color: #ec8d22;" class="fas fa-mobile-alt"></i>
                        <p>+1 989 989 9898 </p>
                    </div>
                </div>
                <div class="social-media">
                    <p>Connect with us :</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 contact-form">
                <form>
                    <h3 class="orange-text font-weight-bold mb-4">Contact us</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="first_name" class="form-control" placeholder="First Name" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="last_name" class="form-control" placeholder="Last Name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn button">Send <i style="margin-left: 10px;"
                            class="fas fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>