<section *ngIf="i18n_data.CONTACT" class="sec-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 contact-info">
                <div class="contact-head">
                    <h3 class="orange-text font-weight-bold">{{i18n_data.CONTACT.title1}}</h3>
                    <p style="max-width: 460px;" class="text">{{i18n_data.CONTACT.description}}</p>
                </div>
                <div class="info">
                    <div class="social-information"> <i style="color: #dd0333;" class="fas fa-map-marker-alt"></i>
                        <p>{{i18n_data.CONTACT.location}}</p>
                    </div>
                    <div class="social-information"> <i style="color: #e84821;" class="fas fa-envelope"></i>
                        <p>{{i18n_data.CONTACT.mail}}</p>
                    </div>
                    <div class="social-information"> <i style="color: #ec8d22;" class="fas fa-mobile-alt"></i>
                        <p>{{i18n_data.CONTACT.mobile}}</p>
                    </div>
                </div>
                <div class="social-media">
                    <p>{{i18n_data.CONTACT.social_title}}</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 contact-form">
                <form>
                    <h3 class="orange-text font-weight-bold mb-4">{{i18n_data.CONTACT.title2}}</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="first_name" class="form-control"
                                    placeholder="{{i18n_data.CONTACT.form.first_name}}" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="last_name" class="form-control"
                                    placeholder="{{i18n_data.CONTACT.form.last_name}}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control"
                            placeholder="{{i18n_data.CONTACT.form.email}}" />
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control"
                            placeholder="{{i18n_data.CONTACT.form.message}}"></textarea>
                    </div>
                    <button type="submit" class="btn button">{{i18n_data.CONTACT.form.send}} <i
                            style="margin-left: 10px;" class="fas fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>